export AWS_REGION=us-west-1
export AWS_BEDROCK_REGION=us-west-1
export CLOUDFLARE_TOKEN_NAME=""
export CLOUDFLARE_API_TOKEN=""
AWS_BEARER_TOKEN_BEDROCK=
AWS_BEARER_TOKEN=
# source .env && export AWS_BEARER_TOKEN_BEDROCK AWS_BEARER_TOKEN && opencode